<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery/css/lightgallery.min.css">
</head>
<body>
    <div id="lightgallery">
        {% for image in images %}
        <a href="{{ image.href }}" data-sub-html="{{ image.title }}">
            <img src="{{ image.src }}">
        </a>
        {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js" integrity="sha512-jEJ0OA9fwz5wUn6rVfGhAXiiCSGrjYCwtQRUwI/wRGEuWRZxrnxoeDoNc+Pnhx8qwKVHs2BRQrVR9RE6T4UHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>
</body>
</html>
